<div id="homePage" class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-body">
                        <h2 class="card-title">Welcome to your Dashboard</h2>
                        <p class="card-text">Here you can manage your blog posts and account settings.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>